/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 10, ../sass/screen.sass */
body {
  background: #f5f5f5;
}

/*#animated
 * position: absolute
 * left: 120px
 * top: 220px
 * width: 100px
 * height: 100px
 * background: orange
 * -webkit-animation-name: Floatingx
 * -webkit-animation-duration: 3s
 * -webkit-animation-iteration-count: infinite
 * -webkit-animation-timing-function: ease-in-out
 * animation-name: Floatingx
 * animation-duration: 3s
 * animation-iteration-count: infinite
 * animation-timing-function: ease-in-out */
/* line 28, ../sass/screen.sass */
#container, #canvasContainer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 400px;
  height: 400px;
  margin: auto;
  perspective: 800px;
  perspective-origin: 50% 50%;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg);
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -webkit-transform: rotateX(45deg) rotateZ(45deg);
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 50%;
  -moz-transform-style: preserve-3d;
  -moz-transform: rotateX(45deg) rotateZ(45deg);
}

/* line 54, ../sass/screen.sass */
.triangle {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 150px;
  width: 150px;
  margin: auto;
  transform: rotateZ(0deg) translateZ(50px);
  transition: all ease-in-out 1s;
  -webkit-transform: rotateZ(0deg) translateZ(50px);
  -webkit-transition: all ease-in-out 1s;
  -moz-transform: rotateZ(0deg) translateZ(50px);
  -moz-transition: all ease-in-out 1s;
}

/* line 69, ../sass/screen.sass */
.triangle, .front, .back, .side1, .side2, .side3 {
  perspective: 800px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  -webkit-perspective: 800px;
  -webkit-perspective-origin: 50% 50%;
  -webkit-transform-style: preserve-3d;
  -moz-perspective: 800px;
  -moz-perspective-origin: 50% 50%;
  -moz-transform-style: preserve-3d;
}

/* line 79, ../sass/screen.sass */
.front, .back {
  width: 100%;
  position: absolute;
}

/* line 83, ../sass/screen.sass */
.front {
  transform: translateZ(20px);
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
}

/* line 88, ../sass/screen.sass */
.side1 {
  display: block;
  position: absolute;
  height: 150px;
  width: 40px;
  transform: translateY(10px) translateX(18px) rotateY(-90deg) rotateX(29.5deg);
  -moz-transform: translateY(10px) translateX(18px) rotateY(-90deg) rotateX(29.5deg);
  -webkit-transform: translateY(10px) translateX(18px) rotateY(-90deg) rotateX(29.5deg);
}

/* line 96, ../sass/screen.sass */
.side2 {
  display: block;
  position: absolute;
  height: 150px;
  width: 40px;
  transform: translateY(10px) translateX(92px) rotateY(90deg) rotateX(29.5deg);
  -webkit-transform: translateY(10px) translateX(92px) rotateY(90deg) rotateX(29.5deg);
  -moz-transform: translateY(10px) translateX(92px) rotateY(90deg) rotateX(29.5deg);
}

/* line 104, ../sass/screen.sass */
.side3 {
  width: 100%;
  height: 40px;
  transform: translateY(129px) rotateX(-90deg);
  -webkit-transform: translateY(129px) rotateX(-90deg);
  -moz-transform: translateY(129px) rotateX(-90deg);
}

/* line 112, ../sass/screen.sass */
#botones {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 400px;
  height: 400px;
  margin: auto;
}

/* line 122, ../sass/screen.sass */
.buttom {
  background: #404040;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  opacity: 0.2;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  z-index: 1000;
}

/* line 133, ../sass/screen.sass */
.buttom:hover {
  opacity: 0.5;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
}

/* line 138, ../sass/screen.sass */
#up {
  left: 90%;
  top: 5%;
}

/* line 141, ../sass/screen.sass */
#right {
  top: 85%;
  right: -5%;
}

/* line 144, ../sass/screen.sass */
#bottom {
  bottom: 5%;
  left: -5%;
}

/* line 147, ../sass/screen.sass */
#left {
  left: -5%;
  top: 5%;
}

/* line 150, ../sass/screen.sass */
#shadow {
  position: absolute;
  top: 35%;
  left: 15%;
  border-radius: 100%;
  width: 70px;
  height: 140px;
  box-shadow: 120px 0px 90px #404040;
  transition: all ease-in-out 1s;
  -webkit-transition: all ease-in-out 1s;
  -moz-transition: all ease-in-out 1s;
  opacity: 0.7;
}
